pandas
numpy
polars

pyarrow
fastparquet
openpyxl

matplotlib
seaborn
plotly

scipy
statsmodels
pingouin
linearmodels

scikit-learn
xgboost
lightgbm
catboost

shap
lime

feature-engine
category-encoders

imbalanced-learn

optuna

jupyter
jupyterlab
notebook
ipykernel

sqlalchemy
psycopg2-binary
duckdb

python-dotenv
pyyaml

black
flake8
isort
pytest

tqdm
requests
joblib

mkdocs
mkdocs-material
